body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.unsplash-conatiner{  
  /* border: 1px solid #c3c3c3; */
  text-align: left;
  margin: 0px 200px 0px 200px;
}

.head-white{
  color:#21c7b7;;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 35px;
  padding-left: 10px
}

.head-white > span{
  color:#21c7b7;
  font-weight: 600;
  letter-spacing: 1px;
  padding-left: 0px
}

.para-tag-1{
  color:white;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 35px;
  padding-top: 70px;
  padding-left: 10px
}

.para-tag-2{
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-top: -22px;
  padding-left: 10px
}

.para-tag-3{
  color: white;
  padding-left: 10px
}

.search-bar{
  padding-left: 10px
}

.search-bar >input {
  border-radius: 5px;
  width: 45%;
  height: 33px;
  border: 1px solid #8080809c;
}

.search-bar >input:focus{
  border: 1px solid #8080809c !important;
}

.search-bar >img{
  width: 36px;
    /* padding-top: 5px; */
    margin-left: -31px;
    margin-bottom: -14px;
    border-radius: 50%;
}

.grid {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 60px;
  list-style-type: none;
}

.grid-item {
  margin: 0 10px 20px;
  flex: 1 1 290px;
}

.card {
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  border-radius: 2px;
  line-height: 0;
  cursor: pointer;
  border-radius: 10px;
}

.card-body {
  width: 100%;
  height: 215px;
  overflow: hidden;
  background-color: #eee;
}

.card-body .photos {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers > li {
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
}

.user-data{
  /* margin: -45px 20px 20px 20px; */
  margin: -55px 20px 0px 20px;
} 

.user-data .profile-pic{
  border-radius: 50px;
  border: 3px solid #21c7b7;
}

.user-data .user-name{
  margin: -20px 0px 0px 50px;
  font-size: 12px;
  font-weight: 800;
  color:white;
}

.user-data .user-name > span{
  color: #21c7b7;
}

.btn-wrapper {
  text-align: center;
}

.load-more{
  font-size: 13px;
  color: white;
  background-color: #21c7b7;
  border: unset;
  border-radius: 20px;
  padding: 8px 30px 8px 30px;
}
